.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
}

.navbar__left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar__item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar__link {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  text-align: left;
  color: #150c01;
}

.navbar__link:hover {
  color: #dc780b;
}

.navbar__btn {
  padding: 10px 20px;
  background: #dc780b;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  text-align: left;
  color: white;
  border: none;
  border-radius: 5px;
}

@media (max-width: 650px) {
  .navbar__item {
    display: none;
  }
}
