.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar__left {
  display: flex;
  align-items: center;
  gap: 20px;
}
